*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(24, 24, 24);
}

i,svg{
    pointer-events: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    letter-spacing: 1.2rem;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
h2{
    color: white;
}
.logo{
    width: 20%;
}
.kick-pad, .snare-pad, .hihat-pad{
    width: 4rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background: rgb(78, 78, 224);
    background: linear-gradient(90deg, rgb(98, 98, 233) 0%, rgb(135, 215, 231) 100%);
}

.snare-pad{
    background: rgb(100, 241, 243);
    background: linear-gradient(90deg, rgb(100, 241, 243) 0%, rgb(243, 212, 144) 100%);
}

.hihat-pad{   
    background: rgb(132, 151, 247);
background: linear-gradient(90deg, rgb(132, 151, 247) 0%, rgb(243, 129, 152) 100%);

}

.kick-pad.active{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgb(4, 4, 252) 0%, rgba(0,212,255,1) 100%);
}

.snare-pad.active{
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgb(2, 246, 250) 0%, rgb(252, 172, 0) 100%);
}

.hihat-pad.active{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgb(32, 69, 250) 0%, rgb(255, 32, 77) 100%);
}
.sequencer{
    display: flex;
    min-height: 90vh;
    width: 80vw;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
;

}
.hihat-track, .snare-track, .kick-track{
    display:flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 5rem;

}

.kick, .snare, .hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem; 
    padding-right: 1rem;
}
.controls button{
    padding: 1rem;
    border: none;
    background: white;
    color: rgb(24, 24, 24);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2rem;
    border: none;
    background: white;
    color: rgb(24, 24, 24);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 3rem;
    border-radius: 50px;
}
.play:hover{
    
    background: rgb(139, 139, 139);
}
select{
    padding: 1rem;
    font-size: 1rem;
}
.mute.active{
    background-color: rgb(139, 139, 139)
}

@keyframes playTrack{
    from {
        transform: scale(1);
    }to{
        transform: scale(1.2);
    }
}